<footer>
    {{#each top_comments}}
        <div class="top-comment clearfix">
            <img src="/public/front/avatars/{{avatar}}" alt="" title="{{author}}" class="img-circle">

            <div class="comment-body">
                <p>
                    {{text}}
                </p>
                <span><i class="fa fa-thumbs-up"></i> {{up}}</span>
                <span><i class="fa fa-thumbs-down"></i> {{down}}</span>
            </div>
        </div>
    {{/each}}
    <p>
        <i class="fa fa-angle-right"></i>
        <a href="/quote/default/{{id}}#comments" target="_blank">
            všechny komentáře
        </a>
    </p>
</footer>