<span>
    <a href="/quote/default/{{id}}" target="_blank">
        <span id="q-rating-{{id}}" class="js-q-rating">{{rating}}</span> bodů
    </a>
    &nbsp; &middot; &nbsp;
    <a href="/quote/default/{{id}}#comments" target="_blank">
        {{comment_count}} komentářů
    </a>
</span>