<div class="row article last detail">
    <article class="content-item">
        <div class="col-lg-2 visible-lg">
        </div>
        <div class="col-lg-10 col-md-12 col-sm-12 article-content">
            <section>

                <!-- Heading -->
                {{> quote_heading}}
                <!-- Heading -->


                <!-- Quote info -->
                {{> quote_info}}
                <!-- Quote info -->


                <!-- Text -->
                <div class="quote-text"><p>{{text}}</p></div>
                <!-- Text -->

                <!-- Tags -->
                {{> quote_tags}}
                <!-- Tags -->

                <div class="item-details">
                    <p>
                        {{#if user}}
                            {{user.username}}
                        {{else}}
                            anonym
                        {{/if}}
                        &middot;
                        {{posted_format}}
                    </p>
                </div>

                <div class="comments" id="comments">
                    <h3>Komentáře</h3>

                    {{#if logged_user}}
                        <form class="new-comment-form">
                            <div class="comment newcomment clearfix">
                                <div class="comment-left">
                                    <img src="/public/front/avatars/{{logged_user.avatar}}" alt="" title="" class="img-circle">
                                </div>

                                <div class="comment-right">
                                    <textarea name="text"
                                              data-qid="{{id}}"
                                              placeholder="napiš něco.."
                                              maxlength="1000"
                                              class="comment-textarea"
                                              style="overflow: hidden; resize: none; height: 50px;"></textarea>
                                    <input type="submit" name="process" value="">
                                </div>
                            </div>
                        </form>
                    {{else}}
                        <p class="notice">Pro komentování musíš být přihlášený.</p>
                    {{/if}}

                    <div id="js-comments-load"></div>
                </div>
            </section>
        </div>
    </article>
</div>