<div class="comment clearfix{{#if child}} child js-child-{{parent}}{{/if}}">
    <div class="comment-left">
        <img src="/public/front/avatars/{{user.avatar}}" alt="" title="" class="img-circle">
    </div>
    <div class="comment-right">
        <a title="{{user.name}}">
            {{user.username}}

            {{#if user.mff}}<i class="flag-mff" title="ověřený matfyzák">MFF</i>{{/if}}

            {{#if user.isAdmin}}<i class="flag-adm" title="administrátor">ADM</i>{{/if}}

            {{#if user.isMod}}<i class="flag-mod" title="moderátor">MOD</i>{{/if}}

            <span>{{diff}}</span></a>

        <p>
            {{text}}
        </p>

        <div class="comment-controls">

            <a href="" class="rate up{{#if rated_up}} active{{/if}}" data-rate="up">
                <i class="fa fa-thumbs-up"></i>
                <span>1</span>
            </a>

            <a href="" class="rate down{{#if rated_down}} active{{/if}}" data-rate="down">
                <i class="fa fa-thumbs-down"></i>
                <span>0</span>
            </a>

            {{#if show_reply}}<a href="" data-quote="{{qid}}" data-parent="{{id}}" class="reply">reagovat</a>{{/if}}
        </div>
    </div>
</div>