<div class="row article">
    <article class="content-item">
        <div class="col-lg-2 visible-lg"></div>
        <div class="col-lg-10 col-md-12 col-sm-12 article-content">
            <section>

                <!-- Share and like buttons -->
                <div class="social">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://fun.dev/quote/default/570">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a target="_blank" href="https://twitter.com/home?status=citace%20z%20MFF:%0Ahttp://fun.dev/quote/default/570">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a target="_blank" href="https://plus.google.com/share?url=http://fun.dev/quote/default/570">
                        <i class="fa fa-google-plus"></i>
                    </a>

                    <a href="/?rateQuote-qid=570&do=rateQuote-down" data-qid="570" data-rate="down" class="q-rate q-rate-down">
                        <i class="fa fa-thumbs-down"></i>
                    </a>

                    <a href="/?rateQuote-qid=570&do=rateQuote-up" data-qid="570" data-rate="up" class="q-rate q-rate-up active">
                        <i class="fa fa-thumbs-up"></i>
                    </a>
                </div>
                <!-- Share and like buttons -->


                <!-- Heading -->
                <h2>
                    {{#if teacher}}
                    <a href="/homepage/teacher/{{teacher.id}}" target="_blank">{{teacher.name}}</a>

                    {{else}}

                    <a href="/homepage/teacher" target="_blank">vyučující neuveden</a>
                    {{/if}}


                    {{#if subject}}
                    <small>
                        <a href="/homepage/subject/{{subject.id}}">{{subject.name}}</a>
                    </small>

                    {{else}}

                    <small>
                        <a href="/homepage/subject" target="_blank">předmět neuveden</a>
                    </small>
                    {{/if}}
                    <br>
                </h2>
                <!-- Heading -->


                <!-- Quote info -->
                <span>
                    <a href="/quote/default/{{id}}" target="_blank">
                        <span id="q-rating-{{id}}">{{rating}}</span> bodů
                    </a>
                    &nbsp; &middot; &nbsp;
                    <a href="/quote/default/{{id}}#comments" target="_blank">
                        {{comment_count}} komentářů
                    </a>
                </span>
                <!-- Quote info -->


                <!-- Text -->
                <div class="quote-text"><p>{{text}}</p></div>
                <!-- Text -->


                <!-- Tags -->
                <div class="item-tags">
                    {{#each tags}}
                        <a href="/homepage/tag/{{id}}">#{{tag}}</a>
                    {{/each}}
                </div>
                <!-- Tags -->


                <!-- Best comments -->
                {{#if top_comments.length}}
                <footer>
                    {{#each top_comments}}
                    <div class="top-comment clearfix">
                        <img src="/public/front/avatars/{{avatar}}" alt="" title="{{author}}" class="img-circle">

                        <div class="comment-body">
                            <p>
                                {{text}}
                            </p>
                            <span><i class="fa fa-thumbs-up"></i> {{up}}</span>
                            <span><i class="fa fa-thumbs-down"></i> {{down}}</span>
                        </div>
                    </div>
                    {{/each}}
                    <p>
                        <i class="fa fa-angle-right"></i>
                        <a href="/quote/default/{{id}}#comments" target="_blank">
                            všechny komentáře
                        </a>
                    </p>
                </footer>
                {{/if}}
                <!-- Best comments -->

            </section>
        </div>
    </article>
</div>